@model IEnumerable<MovieApp.Entity.TheatreModel>;
@{
    ViewData["Title"] = "ShowTheatreDetails";
}

<h1>Show Theatre Details</h1>
<hr />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Theatre Id
            <th>Theatre Name
            <th>Theatre Play
            <th>Thetare Capacity
            <th>Price
            <th>Edit
            <th>Delete
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.ThreatreId</td>
            <td>@item.ThreatreName</td>
            <td>@item.ThreatrePlayName</td>
            <td>@item.ThreatreCapacity</td>
            <td>@item.Price</td>
            <td><a asp-controller="Theatre" asp-action="Edit" asp-route-TheatreId=@item.ThreatreId>Edit</a></td>
            <td><a asp-controller="Theatre" asp-action="Delete" asp-route-TheatreId=@item.ThreatreId>Delete</a></td>
        </tr>
        }
    </tbody>
</table>
<hr />
<a asp-controller="Theatre" asp-action="AddTheatre">Add Theatre</a>
<hr />