@model IEnumerable<MovieApp.Entity.MovieModel>;
@{
    ViewData["Title"] = "ShowMovieDetails";
}

<h1>All Movie Details</h1>
<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Movie Id
            <th>Movie Name
            <th>Actor Name
            <th>Director Name
            <th>Actress Name
            <th>Price
            <th>Edit
            <th>Delete
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.MovieId</td>
            <td>@item.MovieName</td>
            <td>@item.ActorName</td>
            <td>@item.DirectorName</td>
            <td>@item.ActressName</td>
            <td>@item.Price</td>
            <td><a asp-controller="Movie" asp-action="Edit" asp-route-MovieId=@item.MovieId>Edit</a></td>
            <td><a asp-controller="Movie" asp-action="Delete" asp-route-MovieId=@item.MovieId>Delete</a></td>
        </tr>
        }
    </tbody>
</table>
<hr />
<a asp-controller="Movie" asp-action="AddMovie">Add Movie</a>
<hr />
